@import "tailwindcss";

@theme{
    --font-mullish:sans-serif;
    --color-deep-blue:#02042a;
    --color-light-blue:#2b84ea;
    --color-light-blue-300:#4b94ed;
    --color-light-blue-500:#0b72e7;
    --colo-white:#fff;
    --green-light:#61cea6;
    --gray-text:#818597;
    --light-gray:#e2e2e2;
    --gray-blue:#344a6c;
    --deep-blue-head:#162f56;
    --gray-2:#525a76;

}